* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Общий контейнер */
.container {
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(135deg, #ffffff, #ffffff); /* Фиолетовый градиент */
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    justify-content: center;    /* Горизонтальное центрирование */
    align-items: center;        /* Вертикальное центрирование */
    color: black;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* Заголовок */
h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Группа ввода */
.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

/* Метки */
label {
    font-size: 1.1em;
    font-weight: bold;
}

/* Поля ввода */
input {
    width: 100px;
    padding: 8px;
    font-size: 1em;
    border: 2px solid green;
    border-radius: 8px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    color: black;
    outline: none;
    transition: 0.3s;
}

/* Поля ввода */
input.phone {
    width: 300px;
}


@keyframes borderAnimation {
    0% { border-color: #00ff00 }
    50% { border-color: #00f170
    }
    100% { border-color: #00e271
    }
}

input:focus {
    background: rgba(255, 255, 255, 0.3);
    animation: borderAnimation 2s infinite alternate ease-in-out;
}

/* Отключенный инпут (баланс) */
input[disabled] {
    background: rgba(255, 255, 255, 0.1);
    border-color: #b7b7b7;
    color: black;
    cursor: not-allowed;
}

button:hover {
    background: #ff6b6b;
}

.carousel {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 100px;
    position: relative;
}

@keyframes pulse {
    0% {
        border-color: #ff6347;
    }
    50% {
        border-color: #ff9900;
    }
    100% {
        border-color: #ff6347;
    }
}

.card {
    width: 100px;               /* Фиксированная ширина */
    min-width: 100px;
    height: 50px;              /* Фиксированная высота */
    background-color: #f4f4f4;  /* Цвет фона карточки */
    color: #333;                /* Цвет текста */
    font-size: 1.2em;           /* Размер шрифта */
    display: flex;              /* Flexbox для центрирования */
    justify-content: center;    /* Горизонтальное центрирование */
    align-items: center;        /* Вертикальное центрирование */
    border: 2px solid #8d8d8d;  /* Обводка (цвет и толщина) */
    border-radius: 15px;        /* Скругленные углы */
    box-sizing: border-box;     /* Включаем padding и border в размеры */
    padding: 20px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Тень для карточки */
    text-align: center;         /* Центрируем текст по горизонтали */
    margin: 10px;
}

.card.black {
    background-color: black;
    color: white;
}

/* Светло-серый фон и черный текст */
.card.gray {
    background-color: lightgray;
    color: black;
}

/* Зеленый черный н и черный текст */
.card.green {
    background-color: green;
    color: white;
}

/* Синий фон и черный текст */
.card.blue {
    background-color: blue;
    color: white;
}

/* Синий фон и черный текст */
.card.purple {
    background: linear-gradient(45deg, #6a0dad, #8a2be2, #9e3bfa); /* От тёмно-фиолетового к яркому */
    color: white;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Красный фон и белый текст */
.card.red {
    color: white;
    background: linear-gradient(45deg, #ff0000, #cc0000, #ff4e50, #8b0000, #000000);
    background-size: 300% 300%;
    animation: gradientAnimation 5s infinite alternate ease-in-out;
}

/* Желтая карточка с эффектом огня и пламенной рамкой */
.card.yellow {
    background-image: url('images/fire.gif');
    background-color: yellow;
    background-size: cover;  /* Чтобы изображение полностью покрывало фон */
    background-position: center 3em;
    border-radius: 15px;
    animation: pulse 2s infinite;
    color: black;
    font-size: 1.4em;           /* Размер шрифта */
}

.controls {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

#slotMachine {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
